.image {
    width: 150px;
    height: 150px;
}
.item {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item_inner {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 10px;
}
.cart_button {
    border: none;
    padding: 10px 14px;
    margin-bottom: 10px;
}
.wishlist_button {
    border: none;
    background-color: #ef8383;
    padding: 10px 14px;
}