header {
    background-color: #0d2343;
    color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_span {
    color: yellow;
    margin-left: 20px;
}
.icons {
    margin-right: 20px;
    display: flex;
}
.cart_icon {
    margin-right: 5px;
}
.heart_icon {
    margin-right: 5px;
}
.wishlist_box {
    margin-right: 5px;
}